body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin: 1rem 0;
}

.add-book {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.add-book-button {
    align-self: center;
    margin: 1rem 0;
}

.section {
    display: none;
}

.add-book-form {
    display: flex;
    flex-direction: column;
}

.submit {
    align-self: center;
}

.title,
.author,
.pages,
.read-wrapper,
.submit {
    margin-bottom: 0.5rem;
}

.main {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.book {
    flex: 1 1 160px;
    text-align: center;
}