body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

header {
    margin: 1rem 0;
}

.add-book {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.add-book-button {
    align-self: center;
    margin: 1rem 0;
    padding: 1rem;
    background-color: #FCBF49;
    border-color: transparent;
    border-radius: 10px;
    border-style: solid;
    transition: 0.3s;
    opacity: 1;
    font-size: 1rem;
    font-weight: bold;
}

.add-book-button:hover {
    opacity: 0.75;
    transition: 0.3s;

}

.section {
    display: none;
}

.add-book-form {
    display: flex;
    flex-direction: column;
}

.submit {
    align-self: center;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #333533;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    border-style: solid;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

.submit:hover {
    transition: 0.3s;
    color: black;
    background-color: #D6D6D6;
}

label {
    margin-top: 0.25rem;
}

.title,
.author,
.pages {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

input {
    border: 2px #e9ecef solid;
    border-radius: 10px;
    padding: 0.5rem;
}

.main {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.book {
    flex: 0 1 240px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: #dee2e6 2px solid;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.read-status {
    width: fit-content;
    align-self: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-color: transparent;
    border-radius: 10px;
    border-style: solid;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

.delete-button {
    width: fit-content;
    align-self: center;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #e5383b;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    border-style: solid;
    transition: 0.3s;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0.8;
}

.delete-button:hover {
    transition: 0.3s;
    opacity: 1;
}